In [1]:
#import spark
from pyspark import SparkConf
from pyspark.sql import SparkSession

In [2]:
#assign key cat ~/.aws/credentials
AWS_ACCESS_KEY_ID = "ASIAQZBGVQQXWD6WEBTR"
AWS_SECRET_ACCESS_KEY = "r48WQWiyHlSDeEEkKKZQHfTqgilufI4pIK50XqHf"
AWS_SESSION_TOKEN = "FwoGZXIvYXdzEP3//////////wEaDEtgkc4g+qXoa67ciiLJAXeglCB2Cgezpk2nsFFAYIKpIUZ0AFS2prOnGDI+2jxYw4tRHUj4XXadssWKLak9yLc6xjugKFedPFphoiNohOBZC5PAF3B8yJrPnulH8dwsZgGiAZBF9ntbjNcIkkmMNa1PJ7d/5MTpFxXR3uY/etcDoT1n6+LCkE0MjuzRiZvxmO2HYKvVdN7Snd39xcIfr3B8jkmKEogrRJHVY+HZANu22ZfuXmdFXxtyxmDb8NnqjXSZj5y8N4I+n62/1clGeYT1oijkiGdT/Ci77vScBjItPmXctjLwemw1b32l52BVwluvdQ1iDbkp3upOSciFiDRVnPwNVz3HnmiNyVcs"

In [3]:
conf = SparkConf()
conf.set("spark.jars.packages", "org.apache.hadoop:hadoop-aws:3.2.2")
conf.set("spark.hadoop.fs.s3a.aws.credentials.provider", "org.apache.hadoop.fs.s3a.TemporaryAWSCredentialsProvider")
conf.set("spark.hadoop.fs.s3a.access.key", AWS_ACCESS_KEY_ID)
conf.set("spark.hadoop.fs.s3a.secret.key", AWS_SECRET_ACCESS_KEY)
conf.set("spark.hadoop.fs.s3a.session.token", AWS_SESSION_TOKEN)

In [4]:
spark = SparkSession.builder.config(conf=conf).getOrCreate()

# Pastry Sales

In [8]:
pastry = spark.read.csv("s3a://ds525-capstoneproject/datasource/pastry_inventory.csv", header=True, )

In [9]:
pastry.show()

+---------------+----------------+----------+------------+-------------+-----+-------+
|sales_outlet_id|transaction_date|product_id|start_of_day|quantity_sold|waste|% waste|
+---------------+----------------+----------+------------+-------------+-----+-------+
|              3|        4/1/2019|        69|          18|            8|   10|    56%|
|              3|        4/1/2019|        70|          18|           12|    6|    33%|
|              3|        4/1/2019|        71|          18|            8|   10|    56%|
|              3|        4/1/2019|        72|          48|            9|   39|    81%|
|              3|        4/1/2019|        73|          18|            9|    9|    50%|
|              3|        4/2/2019|        69|          18|            7|   11|    61%|
|              3|        4/2/2019|        70|          18|           10|    8|    44%|
|              3|        4/2/2019|        71|          18|           10|    8|    44%|
|              3|        4/2/2019|        72|          48|           10|   38|    79%|
|              3|        4/2/2019|        73|          18|            9|    9|    50%|
|              3|        4/3/2019|        69|          18|            8|   10|    56%|
|              3|        4/3/2019|        70|          18|            5|   13|    72%|
|              3|        4/3/2019|        71|          18|            4|   14|    78%|
|              3|        4/3/2019|        72|          48|            9|   39|    81%|
|              3|        4/3/2019|        73|          18|           15|    3|    17%|
|              3|        4/4/2019|        69|          18|           10|    8|    44%|
|              3|        4/4/2019|        70|          18|            9|    9|    50%|
|              3|        4/4/2019|        71|          18|           10|    8|    44%|
|              3|        4/4/2019|        72|          48|           10|   38|    79%|
|              3|        4/4/2019|        73|          18|            9|    9|    50%|
+---------------+----------------+----------+------------+-------------+-----+-------+
only showing top 20 rows

In [10]:
pastry.printSchema()

root
 |-- sales_outlet_id: string (nullable = true)
 |-- transaction_date: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- start_of_day: string (nullable = true)
 |-- quantity_sold: string (nullable = true)
 |-- waste: string (nullable = true)
 |-- % waste: string (nullable = true)

In [7]:
pastry.createOrReplaceTempView("pastry_i")

In [8]:
pastry_sales = spark.sql("""
    select
        product_id
        , sales_outlet_id
        , transaction_date
        , start_of_day as all_piece
        , quantity_sold as sold_piece
        , (start_of_day-quantity_sold) as waste
        , (waste*100/start_of_day) as waste_prop 
    from
        pastry_i
""")

In [9]:
pastry_sales.show()

+----------+---------------+----------------+---------+----------+-----+------------------+
|product_id|sales_outlet_id|transaction_date|all_piece|sold_piece|waste|        waste_prop|
+----------+---------------+----------------+---------+----------+-----+------------------+
|        69|              3|        4/1/2019|       18|         8| 10.0| 55.55555555555556|
|        70|              3|        4/1/2019|       18|        12|  6.0|33.333333333333336|
|        71|              3|        4/1/2019|       18|         8| 10.0| 55.55555555555556|
|        72|              3|        4/1/2019|       48|         9| 39.0|             81.25|
|        73|              3|        4/1/2019|       18|         9|  9.0|              50.0|
|        69|              3|        4/2/2019|       18|         7| 11.0|61.111111111111114|
|        70|              3|        4/2/2019|       18|        10|  8.0| 44.44444444444444|
|        71|              3|        4/2/2019|       18|        10|  8.0| 44.44444444444444|
|        72|              3|        4/2/2019|       48|        10| 38.0| 79.16666666666667|
|        73|              3|        4/2/2019|       18|         9|  9.0|              50.0|
|        69|              3|        4/3/2019|       18|         8| 10.0| 55.55555555555556|
|        70|              3|        4/3/2019|       18|         5| 13.0| 72.22222222222223|
|        71|              3|        4/3/2019|       18|         4| 14.0| 77.77777777777777|
|        72|              3|        4/3/2019|       48|         9| 39.0|             81.25|
|        73|              3|        4/3/2019|       18|        15|  3.0|16.666666666666668|
|        69|              3|        4/4/2019|       18|        10|  8.0| 44.44444444444444|
|        70|              3|        4/4/2019|       18|         9|  9.0|              50.0|
|        71|              3|        4/4/2019|       18|        10|  8.0| 44.44444444444444|
|        72|              3|        4/4/2019|       48|        10| 38.0| 79.16666666666667|
|        73|              3|        4/4/2019|       18|         9|  9.0|              50.0|
+----------+---------------+----------------+---------+----------+-----+------------------+
only showing top 20 rows

In [20]:
pastry_sales.write.mode("overwrite").csv("s3a://ds525-capstoneproject/cleaned/pastry_sales")

# Retails

In [11]:
retail = spark.read.csv("s3a://ds525-capstoneproject/datasource/sales_outlet.csv", header=True, )

In [12]:
retail.show()

+---------------+-----------------+-----------------+------------------+----------------+--------------------+---------------+-----------------+---------------+--------------+-------+-----------------+
|sales_outlet_id|sales_outlet_type|store_square_feet|     store_address|      store_city|store_state_province|store_telephone|store_postal_code|store_longitude|store_latitude|manager|      Neighorhood|
+---------------+-----------------+-----------------+------------------+----------------+--------------------+---------------+-----------------+---------------+--------------+-------+-----------------+
|              2|        warehouse|             3400|164-14 Jamaica Ave|         Jamaica|                  NY|   972-871-0402|            11432|     -73.795168|     40.705226|   null|          Jamaica|
|              3|           retail|             1300|    32-20 Broadway|Long Island City|                  NY|   777-718-3190|            11106|     -73.924008|     40.761196|      6|          Astoria|
|              4|           retail|             1300|  604 Union Street|        Brooklyn|                  NY|   619-347-5193|            11215|     -73.983984|     40.677645|     11|          Gowanus|
|              5|           retail|              900| 100 Church Street|        New York|                  NY|   343-212-5151|            10007|      -74.01013|      40.71329|     16|  Lower Manhattan|
|              6|           retail|             1000|    122 E Broadway|        New York|                  NY|   613-555-4989|            10002|     -73.992687|     40.713852|     21|  Lower East Side|
|              7|           retail|             1200| 224 E 57th Street|        New York|                  NY|   287-817-2330|            10021|         -73.96|         40.77|     26|  Upper East Side|
|              8|           retail|             1500|    687 9th Avenue|        New York|                  NY|   652-212-7020|            10036|     -73.990338|     40.761887|     31|   Hell's Kitchen|
|              9|           retail|             1700|    175 8th Avenue|        New York|                  NY|   242-212-0080|            10011|     -74.000502|      40.74276|     36|          Chelsea|
|             10|           retail|             1600| 183 W 10th Street|        New York|                  NY|   674-646-6434|            10014|     -74.002722|     40.734367|     41|Greenwich Village|
+---------------+-----------------+-----------------+------------------+----------------+--------------------+---------------+-----------------+---------------+--------------+-------+-----------------+

In [13]:
retail.printSchema()

root
 |-- sales_outlet_id: string (nullable = true)
 |-- sales_outlet_type: string (nullable = true)
 |-- store_square_feet: string (nullable = true)
 |-- store_address: string (nullable = true)
 |-- store_city: string (nullable = true)
 |-- store_state_province: string (nullable = true)
 |-- store_telephone: string (nullable = true)
 |-- store_postal_code: string (nullable = true)
 |-- store_longitude: string (nullable = true)
 |-- store_latitude: string (nullable = true)
 |-- manager: string (nullable = true)
 |-- Neighorhood: string (nullable = true)

In [14]:
retail.createOrReplaceTempView("retail_i")

In [17]:
retail_df = spark.sql("""
    select
        sales_outlet_id
        , sales_outlet_type
        , store_address
        , store_city
        , store_state_province as store_state
        , store_postal_code
        , store_longitude
        , store_latitude
    from
        retail_i
    where sales_outlet_type = "retail"
""")

In [18]:
retail_df.show()

+---------------+-----------------+-----------------+----------------+-----------+-----------------+---------------+--------------+
|sales_outlet_id|sales_outlet_type|    store_address|      store_city|store_state|store_postal_code|store_longitude|store_latitude|
+---------------+-----------------+-----------------+----------------+-----------+-----------------+---------------+--------------+
|              3|           retail|   32-20 Broadway|Long Island City|         NY|            11106|     -73.924008|     40.761196|
|              4|           retail| 604 Union Street|        Brooklyn|         NY|            11215|     -73.983984|     40.677645|
|              5|           retail|100 Church Street|        New York|         NY|            10007|      -74.01013|      40.71329|
|              6|           retail|   122 E Broadway|        New York|         NY|            10002|     -73.992687|     40.713852|
|              7|           retail|224 E 57th Street|        New York|         NY|            10021|         -73.96|         40.77|
|              8|           retail|   687 9th Avenue|        New York|         NY|            10036|     -73.990338|     40.761887|
|              9|           retail|   175 8th Avenue|        New York|         NY|            10011|     -74.000502|      40.74276|
|             10|           retail|183 W 10th Street|        New York|         NY|            10014|     -74.002722|     40.734367|
+---------------+-----------------+-----------------+----------------+-----------+-----------------+---------------+--------------+

In [19]:
retail_df.write.mode("overwrite").csv("s3a://ds525-capstoneproject/cleaned/retail")

# Food_product

In [5]:
food = spark.read.csv("s3a://ds525-capstoneproject/datasource/product.csv", header=True, )

In [6]:
food.show()

+----------+---------------+------------------+------------------+--------------------+--------------------+---------------+-----------------------+--------------------+-------------+--------+--------------+
|product_id|  product_group|  product_category|      product_type|             product| product_description|unit_of_measure|current_wholesale_price|current_retail_price|tax_exempt_yn|promo_yn|new_product_yn|
+----------+---------------+------------------+------------------+--------------------+--------------------+---------------+-----------------------+--------------------+-------------+--------+--------------+
|         1|Whole Bean/Teas|      Coffee beans|     Organic Beans| Brazilian - Organic|It's like Carniva...|          12 oz|                   14.4|             $18.00 |            Y|       N|             N|
|         2|Whole Bean/Teas|      Coffee beans| House blend Beans|Our Old Time Dine...|Out packed blend ...|          12 oz|                   14.4|             $18.00 |            Y|       N|             N|
|         3|Whole Bean/Teas|      Coffee beans|    Espresso Beans|      Espresso Roast|Our house blend f...|           1 lb|                   11.8|             $14.75 |            Y|       N|             N|
|         4|Whole Bean/Teas|      Coffee beans|    Espresso Beans|Primo Espresso Roast|Our primium singl...|           1 lb|                  16.36|             $20.45 |            Y|       N|             N|
|         5|Whole Bean/Teas|      Coffee beans|     Gourmet Beans|Columbian Medium ...|A smooth cup of c...|           1 lb|                     12|             $15.00 |            Y|       N|             N|
|         6|Whole Bean/Teas|      Coffee beans|     Gourmet Beans|            Ethiopia|From the home of ...|           1 lb|                   16.8|             $21.00 |            Y|       N|             N|
|         7|Whole Bean/Teas|      Coffee beans|     Premium Beans|Jamacian Coffee R...|Ya man, it will s...|           1 lb|                   15.8|             $19.75 |            Y|       N|             N|
|         8|Whole Bean/Teas|      Coffee beans|     Premium Beans|           Civet Cat|The most expensiv...|          .5 lb|                     36|             $45.00 |            Y|       N|             N|
|         9|Whole Bean/Teas|      Coffee beans|     Organic Beans| Organic Decaf Blend|Our blend of hand...|           1 lb|                     18|             $22.50 |            Y|       N|             N|
|        10|Whole Bean/Teas|      Coffee beans|       Green beans|Guatemalan Sustai...|Green beans you c...|           1 lb|                      8|             $10.00 |            Y|       N|             N|
|        11|Whole Bean/Teas|         Loose Tea|        Herbal tea|         Lemon Grass|You will think yo...|          .9 oz|                   7.16|              $8.95 |            Y|       N|             N|
|        12|Whole Bean/Teas|         Loose Tea|        Herbal tea|          Peppermint|Cool and refreshi...|          .9 oz|                   7.16|              $8.95 |            Y|       N|             N|
|        13|Whole Bean/Teas|         Loose Tea|         Black tea|   English Breakfast|The traditional c...|          .9 oz|                   7.16|              $8.95 |            Y|       N|             N|
|        14|Whole Bean/Teas|         Loose Tea|         Black tea|           Earl Grey|A full leaf of Or...|          .9 oz|                   7.16|              $8.95 |            Y|       N|             N|
|        15|Whole Bean/Teas|         Loose Tea|         Green tea|  Serenity Green Tea|Mountain grown an...|           1 oz|                    7.4|              $9.25 |            Y|       N|             N|
|        16|Whole Bean/Teas|         Loose Tea|          Chai tea|Traditional Blend...|A traditional blend.|          .9 oz|                   7.16|              $8.95 |            Y|       N|             N|
|        17|Whole Bean/Teas|         Loose Tea|          Chai tea|Morning Sunrise Chai|Fair trade and or...|          .9 oz|                    7.6|              $9.50 |            Y|       N|             N|
|        18|Whole Bean/Teas|         Loose Tea|          Chai tea|Spicy Eye Opener ...|A spicier blend t...|          .9 oz|                   8.76|             $10.95 |            Y|       N|             N|
|        19|Whole Bean/Teas|Packaged Chocolate|Drinking Chocolate|      Dark chocolate|This drinking cho...|           1 lb|                   5.12|              $6.40 |            Y|       N|             N|
|        20|Whole Bean/Teas|Packaged Chocolate| Organic Chocolate|Sustainably Grown...|Certified organic...|           1 lb|                   6.08|              $7.60 |            Y|       N|             N|
+----------+---------------+------------------+------------------+--------------------+--------------------+---------------+-----------------------+--------------------+-------------+--------+--------------+
only showing top 20 rows

In [7]:
food.printSchema()

root
 |-- product_id: string (nullable = true)
 |-- product_group: string (nullable = true)
 |-- product_category: string (nullable = true)
 |-- product_type: string (nullable = true)
 |-- product: string (nullable = true)
 |-- product_description: string (nullable = true)
 |-- unit_of_measure: string (nullable = true)
 |-- current_wholesale_price: string (nullable = true)
 |-- current_retail_price: string (nullable = true)
 |-- tax_exempt_yn: string (nullable = true)
 |-- promo_yn: string (nullable = true)
 |-- new_product_yn: string (nullable = true)

In [14]:
# select distinct on multiple columns
dropDisDF = food.dropDuplicates(["product_group"]).select("product_group")
dropDisDF.show(truncate=False)

print(food.dropDuplicates(["product_group"]).select("product_group").collect())

+---------------+
|product_group  |
+---------------+
|Food           |
|Beverages      |
|Whole Bean/Teas|
|Merchandise    |
|Add-ons        |
+---------------+

[Row(product_group='Food'), Row(product_group='Beverages'), Row(product_group='Whole Bean/Teas'), Row(product_group='Merchandise'), Row(product_group='Add-ons')]

In [15]:
food.createOrReplaceTempView("food_i")

In [43]:
food_df = spark.sql("""
    select
        product_id
        , product_group
        , product_category
        , product_type
        , product as name
        , cast(current_wholesale_price as float) as wholesale_price
        , current_retail_price as retail_price
    from
        food_i
    where product_group = "Food"
""")

In [44]:
food_df.show()

+----------+-------------+----------------+------------+--------------------+---------------+------------+
|product_id|product_group|product_category|product_type|                name|wholesale_price|retail_price|
+----------+-------------+----------------+------------+--------------------+---------------+------------+
|        75|         Food|          Bakery|      Pastry|           Croissant|           2.11|      $3.25 |
|        70|         Food|          Bakery|       Scone|     Cranberry Scone|           2.11|      $3.25 |
|        71|         Food|          Bakery|      Pastry| Chocolate Croissant|           2.44|      $3.75 |
|        72|         Food|          Bakery|       Scone|        Ginger Scone|           2.11|      $3.25 |
|        73|         Food|          Bakery|      Pastry|    Almond Croissant|           2.44|      $3.75 |
|        74|         Food|          Bakery|    Biscotti|     Ginger Biscotti|           2.28|      $3.50 |
|        69|         Food|          Bakery|    Biscotti|   Hazelnut Biscotti|           2.28|      $3.50 |
|        76|         Food|          Bakery|    Biscotti|Chocolate Chip Bi...|           2.28|      $3.50 |
|        77|         Food|          Bakery|       Scone|       Oatmeal Scone|           1.95|      $3.00 |
|        78|         Food|          Bakery|       Scone|Scottish Cream Sc...|           2.93|      $4.50 |
|        79|         Food|          Bakery|       Scone|  Jumbo Savory Scone|           2.44|      $3.75 |
|        89|         Food|          Bakery|       Scone|  Ginger Scone promo|           1.72|      $2.65 |
+----------+-------------+----------------+------------+--------------------+---------------+------------+

In [45]:
from pyspark.sql.functions import regexp_replace, substring
food_df = food_df.withColumn("retail_price", regexp_replace("retail_price"," ",""))
food_df = food_df.withColumn('retail_price', substring('retail_price', 2,4))
food_df.show()

+----------+-------------+----------------+------------+--------------------+---------------+------------+
|product_id|product_group|product_category|product_type|                name|wholesale_price|retail_price|
+----------+-------------+----------------+------------+--------------------+---------------+------------+
|        75|         Food|          Bakery|      Pastry|           Croissant|           2.11|        3.25|
|        70|         Food|          Bakery|       Scone|     Cranberry Scone|           2.11|        3.25|
|        71|         Food|          Bakery|      Pastry| Chocolate Croissant|           2.44|        3.75|
|        72|         Food|          Bakery|       Scone|        Ginger Scone|           2.11|        3.25|
|        73|         Food|          Bakery|      Pastry|    Almond Croissant|           2.44|        3.75|
|        74|         Food|          Bakery|    Biscotti|     Ginger Biscotti|           2.28|        3.50|
|        69|         Food|          Bakery|    Biscotti|   Hazelnut Biscotti|           2.28|        3.50|
|        76|         Food|          Bakery|    Biscotti|Chocolate Chip Bi...|           2.28|        3.50|
|        77|         Food|          Bakery|       Scone|       Oatmeal Scone|           1.95|        3.00|
|        78|         Food|          Bakery|       Scone|Scottish Cream Sc...|           2.93|        4.50|
|        79|         Food|          Bakery|       Scone|  Jumbo Savory Scone|           2.44|        3.75|
|        89|         Food|          Bakery|       Scone|  Ginger Scone promo|           1.72|        2.65|
+----------+-------------+----------------+------------+--------------------+---------------+------------+

In [46]:
food_df.write.mode("overwrite").csv("s3a://ds525-capstoneproject/cleaned/food")

# Sale transactions

In [5]:
sale = spark.read.csv("s3a://ds525-capstoneproject/datasource/201904_sales_reciepts.csv", header=True, )

In [6]:
sale.show()

+--------------+----------------+----------------+---------------+--------+-----------+----------+-----+------------+----------+--------+----------------+----------+-------------+
|transaction_id|transaction_date|transaction_time|sales_outlet_id|staff_id|customer_id|instore_yn|order|line_item_id|product_id|quantity|line_item_amount|unit_price|promo_item_yn|
+--------------+----------------+----------------+---------------+--------+-----------+----------+-----+------------+----------+--------+----------------+----------+-------------+
|             7|      2019-04-01|        12:04:43|              3|      12|        558|         N|    1|           1|        52|       1|            2.50|      2.50|            N|
|            11|      2019-04-01|        15:54:39|              3|      17|        781|         N|    1|           1|        27|       2|            7.00|      3.50|            N|
|            19|      2019-04-01|        14:34:59|              3|      17|        788|         Y|    1|           1|        46|       2|            5.00|      2.50|            N|
|            32|      2019-04-01|        16:06:04|              3|      12|        683|         N|    1|           1|        23|       2|            5.00|      2.50|            N|
|            33|      2019-04-01|        19:18:37|              3|      17|         99|         Y|    1|           1|        34|       1|            2.45|      2.45|            N|
|            39|      2019-04-01|        18:54:46|              3|      17|        664|         Y|    1|           1|        32|       1|            3.00|      3.00|            N|
|            50|      2019-04-01|        13:03:49|              3|      12|        316|         N|    1|           1|        49|       2|            6.00|      3.00|            N|
|            53|      2019-04-01|        11:21:14|              3|      12|         38|         N|    1|           1|        60|       1|            3.75|      3.75|            N|
|            59|      2019-04-01|        19:30:55|              3|      12|        370|         Y|    1|           1|        51|       2|            6.00|      3.00|            N|
|            62|      2019-04-01|        12:01:00|              3|      12|        180|         Y|    1|           1|        49|       2|            6.00|      3.00|            N|
|            81|      2019-04-01|        13:20:51|              3|      12|         35|         Y|    1|           1|        35|       2|            6.20|      3.10|            N|
|            90|      2019-04-01|        11:40:20|              3|      17|        595|         N|    1|           1|        47|       1|            3.00|      3.00|            N|
|            91|      2019-04-01|        12:27:43|              3|      12|        500|         N|    1|           1|        25|       2|            4.40|      2.20|            N|
|            94|      2019-04-01|        17:37:02|              3|      17|        128|         Y|    1|           1|        23|       2|            5.00|      2.50|            N|
|           101|      2019-04-01|        12:26:34|              3|      17|        599|         Y|    1|           1|        48|       2|            5.00|      2.50|            N|
|           103|      2019-04-01|        14:33:32|              3|      17|        152|         Y|    1|           1|        53|       2|            6.00|      3.00|            N|
|           108|      2019-04-01|        16:11:18|              3|      17|         65|         N|    1|           1|        40|       1|            3.75|      3.75|            N|
|           112|      2019-04-01|        13:03:38|              3|      12|         90|         Y|    1|           1|        37|       2|            6.00|      3.00|            N|
|           117|      2019-04-01|        18:25:04|              3|      12|         82|         Y|    1|           1|        60|       1|            3.75|      3.75|            N|
|           120|      2019-04-01|        15:51:44|              3|      12|        174|         N|    1|           1|        53|       2|            6.00|      3.00|            N|
+--------------+----------------+----------------+---------------+--------+-----------+----------+-----+------------+----------+--------+----------------+----------+-------------+
only showing top 20 rows

In [49]:
sale.printSchema()

root
 |-- transaction_id: string (nullable = true)
 |-- transaction_date: string (nullable = true)
 |-- transaction_time: string (nullable = true)
 |-- sales_outlet_id: string (nullable = true)
 |-- staff_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- instore_yn: string (nullable = true)
 |-- order: string (nullable = true)
 |-- line_item_id: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- quantity: string (nullable = true)
 |-- line_item_amount: string (nullable = true)
 |-- unit_price: string (nullable = true)
 |-- promo_item_yn: string (nullable = true)

In [50]:
sale.createOrReplaceTempView("sale_i")

In [51]:
sale_df = spark.sql("""
    select
        transaction_id as sale_id
        , transaction_date as sale_date
        , transaction_time as sale_time
        , sales_outlet_id
        , customer_id
        , product_id
    from
        sale_i
""")

In [52]:
sale_df.show()

+-------+----------+---------+---------------+-----------+----------+
|sale_id| sale_date|sale_time|sales_outlet_id|customer_id|product_id|
+-------+----------+---------+---------------+-----------+----------+
|      7|2019-04-01| 12:04:43|              3|        558|        52|
|     11|2019-04-01| 15:54:39|              3|        781|        27|
|     19|2019-04-01| 14:34:59|              3|        788|        46|
|     32|2019-04-01| 16:06:04|              3|        683|        23|
|     33|2019-04-01| 19:18:37|              3|         99|        34|
|     39|2019-04-01| 18:54:46|              3|        664|        32|
|     50|2019-04-01| 13:03:49|              3|        316|        49|
|     53|2019-04-01| 11:21:14|              3|         38|        60|
|     59|2019-04-01| 19:30:55|              3|        370|        51|
|     62|2019-04-01| 12:01:00|              3|        180|        49|
|     81|2019-04-01| 13:20:51|              3|         35|        35|
|     90|2019-04-01| 11:40:20|              3|        595|        47|
|     91|2019-04-01| 12:27:43|              3|        500|        25|
|     94|2019-04-01| 17:37:02|              3|        128|        23|
|    101|2019-04-01| 12:26:34|              3|        599|        48|
|    103|2019-04-01| 14:33:32|              3|        152|        53|
|    108|2019-04-01| 16:11:18|              3|         65|        40|
|    112|2019-04-01| 13:03:38|              3|         90|        37|
|    117|2019-04-01| 18:25:04|              3|         82|        60|
|    120|2019-04-01| 15:51:44|              3|        174|        53|
+-------+----------+---------+---------------+-----------+----------+
only showing top 20 rows

In [53]:
sale_df.write.mode("overwrite").csv("s3a://ds525-capstoneproject/cleaned/sales")

# Customers

In [7]:
cust = spark.read.csv("s3a://ds525-capstoneproject/datasource/customer.csv", header=True, )

In [8]:
cust.show()

+-----------+----------+-------------------+--------------------+--------------+-------------------+----------+------+----------+
|customer_id|home_store|customer_first-name|      customer_email|customer_since|loyalty_card_number| birthdate|gender|birth_year|
+-----------+----------+-------------------+--------------------+--------------+-------------------+----------+------+----------+
|          1|         3|          Kelly Key|Venus@adipiscing.edu|    2017-01-04|       908-424-2890|1950-05-29|     M|      1950|
|          2|         3|    Clark Schroeder|      Nora@fames.gov|    2017-01-07|       032-732-6308|1950-07-30|     M|      1950|
|          3|         3|     Elvis Cardenas|  Brianna@tellus.edu|    2017-01-10|       459-375-9187|1950-09-30|     M|      1950|
|          4|         3|       Rafael Estes|         Ina@non.gov|    2017-01-13|       576-640-9226|1950-12-01|     M|      1950|
|          5|         3|         Colin Lynn|    Dale@Integer.com|    2017-01-15|       344-674-6569|1951-02-01|     M|      1951|
|          6|         3|         Igor Beach|     Caleb@morbi.net|    2017-01-18|       114-126-1992|1951-04-04|     M|      1951|
|          7|         3|       Scott Holden|     Yen@Integer.edu|    2017-01-21|       384-074-3606|1951-06-05|     M|      1951|
|          8|         3|       Keegan Ayala|     Tana@sociis.com|    2017-01-24|       257-308-7675|1951-08-07|     M|      1951|
|          9|         3|         Amir Byers|Madeson@malesuada.us|    2017-01-26|       931-925-0273|1951-10-08|     M|      1951|
|         10|         3|       Magee Malone|  Anjolie@sapien.gov|    2017-01-29|       359-150-6747|1951-12-09|     M|      1951|
|         11|         3|        Dolan Petty|   Kim@convallis.edu|    2017-02-01|       547-881-4488|1952-02-09|     M|      1952|
|         12|         3|        Wang Hebert|    Hollee@lorem.net|    2017-02-04|       605-014-6218|1952-04-11|     M|      1952|
|         13|         3|        Wayne David|    Slade@sapien.edu|    2017-02-06|       430-935-8698|1952-06-12|     M|      1952|
|         14|         3|    Colin Fernandez|    Thaddeus@non.com|    2017-02-09|       703-178-5883|1952-08-13|     M|      1952|
|         15|         3| Holmes Blankenship|  Marvin@accumsan.us|    2017-02-12|       959-439-4036|1952-10-15|     M|      1952|
|         16|         3|         Ali French|    Uriah@magnis.org|    2017-02-15|       169-057-5893|1952-12-16|     M|      1952|
|         17|         3|      Josiah Burton|    Sacha@Nullam.edu|    2017-02-17|       373-811-5424|1953-02-16|     M|      1953|
|         18|         3|       Drew Skinner| Rashad@faucibus.net|    2017-02-20|       981-655-9539|1953-04-19|     M|      1953|
|         19|         3|       Henry Wilcox|     Dexter@nisl.gov|    2017-02-23|       833-172-4578|1953-06-20|     M|      1953|
|         20|         3|       Nathan Riggs|     Iris@aptent.com|    2017-02-26|       639-354-7929|1953-08-21|     M|      1953|
+-----------+----------+-------------------+--------------------+--------------+-------------------+----------+------+----------+
only showing top 20 rows

In [9]:
cust.printSchema()

root
 |-- customer_id: string (nullable = true)
 |-- home_store: string (nullable = true)
 |-- customer_first-name: string (nullable = true)
 |-- customer_email: string (nullable = true)
 |-- customer_since: string (nullable = true)
 |-- loyalty_card_number: string (nullable = true)
 |-- birthdate: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- birth_year: string (nullable = true)

In [10]:
gen = spark.read.csv("s3a://ds525-capstoneproject/datasource/generations.csv", header=True, )

In [11]:
gen.show()

+----------+------------+
|birth_year|  generation|
+----------+------------+
|      1946|Baby Boomers|
|      1947|Baby Boomers|
|      1948|Baby Boomers|
|      1949|Baby Boomers|
|      1950|Baby Boomers|
|      1951|Baby Boomers|
|      1952|Baby Boomers|
|      1953|Baby Boomers|
|      1954|Baby Boomers|
|      1955|Baby Boomers|
|      1956|Baby Boomers|
|      1957|Baby Boomers|
|      1958|Baby Boomers|
|      1959|Baby Boomers|
|      1960|Baby Boomers|
|      1961|Baby Boomers|
|      1962|Baby Boomers|
|      1963|Baby Boomers|
|      1964|Baby Boomers|
|      1965|       Gen X|
+----------+------------+
only showing top 20 rows

In [12]:
cust.createOrReplaceTempView("cust_i")
gen.createOrReplaceTempView("gen_i")

In [19]:
cust_df = spark.sql("""
    select
        customer_id
        , loyalty_card_number
        , gender
        , cust_i.birth_year as birth_year
        , generation
    from
        cust_i
    left join gen_i 
    on cust_i.birth_year = gen_i.birth_year
""")

In [20]:
cust_df.show()

+-----------+-------------------+------+----------+------------+
|customer_id|loyalty_card_number|gender|birth_year|  generation|
+-----------+-------------------+------+----------+------------+
|          1|       908-424-2890|     M|      1950|Baby Boomers|
|          2|       032-732-6308|     M|      1950|Baby Boomers|
|          3|       459-375-9187|     M|      1950|Baby Boomers|
|          4|       576-640-9226|     M|      1950|Baby Boomers|
|          5|       344-674-6569|     M|      1951|Baby Boomers|
|          6|       114-126-1992|     M|      1951|Baby Boomers|
|          7|       384-074-3606|     M|      1951|Baby Boomers|
|          8|       257-308-7675|     M|      1951|Baby Boomers|
|          9|       931-925-0273|     M|      1951|Baby Boomers|
|         10|       359-150-6747|     M|      1951|Baby Boomers|
|         11|       547-881-4488|     M|      1952|Baby Boomers|
|         12|       605-014-6218|     M|      1952|Baby Boomers|
|         13|       430-935-8698|     M|      1952|Baby Boomers|
|         14|       703-178-5883|     M|      1952|Baby Boomers|
|         15|       959-439-4036|     M|      1952|Baby Boomers|
|         16|       169-057-5893|     M|      1952|Baby Boomers|
|         17|       373-811-5424|     M|      1953|Baby Boomers|
|         18|       981-655-9539|     M|      1953|Baby Boomers|
|         19|       833-172-4578|     M|      1953|Baby Boomers|
|         20|       639-354-7929|     M|      1953|Baby Boomers|
+-----------+-------------------+------+----------+------------+
only showing top 20 rows

In [22]:
cust_df.write.mode("overwrite").csv("s3a://ds525-capstoneproject/cleaned/customers")